html, body, div {
    margin: 0;
}

body {
    background-color: #666;
    color: #efefef;
    font-family: 'Arial', sans-serif;
}

div.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-flow: flex-start;
    background-color: rgba(128, 0, 0, 0.5);
}

div.list {
    min-width: 200px;
    min-height: 720px;
    background-color: darkblue;
}

div.display {
    min-width: 720px;
    min-height: 720px;
    background-color: darkcyan;
}

p.name, p.count {
    text-align: center;
}
